body {
  font: 10px sans-serif;
  margin: 0;
  padding: 0;
}

svg {
  margin: 10px;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/*.x.axis path {
  display: none;
}*/

select {
	margin: 5px;
}

.container {
  text-align: center;
}

#selectionUI {
  display: inline-block;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}